.App {
  text-align: center;
  width: 1200px;
}
.App .jumbotron-fluid{
  background-color: #5190a5;
}
.App {
  background-color: #c3e09d;
}
.App-Body {
  display: flex;
}
.App-Body .PlayListFormDiv{
  width: 50%;
}
.App-Body .PlayListFormDiv .listForm {
  margin-right: 2em;
}
.App-Body .PlayListDiv{
  width: 50%;
}
